<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libaudout" version="0.3.46" targetFramework="native" />
  <package id="libnitki" version="1.0.89" targetFramework="native" />
  <package id="libopros" version="1.0.101" targetFramework="native" />
  <package id="libpapki" version="1.0.144" targetFramework="native" />
  <package id="libutki" version="1.1.262" targetFramework="native" />
  <package id="zlib_static" version="1.2.11.12" targetFramework="native" />
</packages>