<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="audout" version="0.3.2" targetFramework="native" />
  <package id="libnitki" version="1.0.2.7" targetFramework="native" />
  <package id="libpapki" version="1.0.9" targetFramework="native" />
  <package id="libpogodi" version="1.0.3.2" targetFramework="native" />
  <package id="libutki" version="1.0.8.6" targetFramework="native" />
</packages>